- if @stylesheets.length > 0
  table.table.table-striped
    - @stylesheets.each do |stylesheet|
      tr
        td = link_to "#{@site.full_name}/#{stylesheet.name}.css", edit_site_stylesheet_path(@locale, @site.id, stylesheet.id)

        td
          .text-right
            = link_to stylesheet.full_url, class: 'pad', data: { toggle: 'tooltip' }, title: t('live'), rel: 'tooltip' do
              i.icon-globe
            = link_to site_stylesheet_path(@locale, @site, stylesheet), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_stylesheet_path(@locale, @site.id, stylesheet)
= link_to t('stylesheet.new'), new_site_stylesheet_path(@locale, @site.id), class: 'btn btn-primary'
