= form_tag sessions_path(@locale) do
    = label_tag :email, "Email:"
    = text_field_tag :email, params[:email], :class => 'full'
    = label_tag :password, "Password:"
    = password_field_tag :password, nil, :class => 'full'
    = check_box_tag(:remember_me, 1, params[:remember_me])
    = label_tag :remember_me, 'Remember me'
    = submit_tag "Login", :class => 'btn'

= link_to "Forgot password", "#", :id => "forgot_password"
