- if @themes
  .themes
    h2.pull-right Themes
    - @themes.each do |t|
      - if t.screenshot?
        div
          = link_to theme_path(@locale, t.id) do
            = image_tag t.screenshot.url
