- if @theme
  .preview
    .left
      = link_to new_site_path(@locale, theme_id: @theme.id), title: 'Create site' do
        = image_tag "/img/get_it.png"
    .right
      = link_to root_url, title: 'Close' do
        = image_tag "/img/close.png"
  iframe frameborder="0" style="border-bottom: 1px solid white; overflow:hidden;height:90%;width:100%" height="90%" width="100%" src=@theme.site.full_url
  .postview
    = render "/layouts/footer"
