= simple_form_for [@site, @template], url: @template.locale_path, html: { id: 'code_form' } do |f|
  .field
    = f.input :name
    = f.label :content
    - if @parent
        = f.hidden_field :parent_id, value: @parent.id
    .code
      = f.text_area :content, id: "code_content"
  = f.submit t('save'), class: 'btn'
