.tree
  - if @template
    span.path
      =t('document.path')
      = link_to ' ~ ', site_templates_path(@locale, @site)
      |/
      - file_tree(@template).each do |t|
        = link_to t.name, site_template_path(@locale, @site, t)
        |/
    hr

.files-nav
  .pull-right
    i.icon-plus
    |&nbsp;
    a#add-folder href='#' data={toggle: 'modal',  target: '.add-template-folder' }
      = t('document.add_folder')
  .clearfix

- if @templates.length > 0
  table.table.table-striped
    - @templates.each do |template|
      tr
        td
          - if template.folder
            = link_to site_template_path(@locale, @site.id, template.id) do
              i.icon-folder-open
            |&nbsp;
            = link_to site_template_path(@locale, @site.id, template.id) do
              = template.name
          - else
            = link_to edit_site_template_path(@locale, @site.id, template.id) do
              = template.name
        td
          .text-right
            = link_to site_template_path(@locale, @site, template), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_template_path(@locale, @site.id, template)

= link_to t('template.new'), new_site_template_path(@locale, @site.id, (@template ? { parent_id: @template.id } : nil)), class: 'btn btn-primary'

= render 'templates/modal_add_folder'
