.add-template-folder.modal
  .modal-header
    button type="button" class="close" data={ dismiss: 'modal'} aria={ hidden: "true" }
      |×
    h3 =t('document.add_folder_title')
  =simple_form_for([@site, @site.templates.new],
    url: site_templates_path(@locale, @site),
    html: { class: 'slim' }) do |f|
    .modal-body
      = f.input :name
      - if @template
        = f.hidden_field :parent_id, value: @template.id
      = f.hidden_field :folder, value: true
    .modal-footer
      .pull-left
        = f.submit t('add_new_folder'), class: 'btn btn-primary'
      .pull-right
        = link_to t('cancel'), '#', id: 'close-add-folder', class: 'btn space', data: {dismiss: 'modal' }, 'aria-hidden' => 'true'
