= breadcrumb @breadcrumb, true

- if @template
    span.path
      =t('document.path')
      = link_to ' ~ ', site_templates_path(@locale, @site)
      |/
      - file_tree(@template)[0..-2].each do |t|
        = link_to t.name, site_template_path(@locale, @site, t)
        |/
    hr
h2 = t('edit')
= '[% include "'+file_tree(@template).map{|t| t.name}.join('/')+'" %]'
== render 'form'
