= form_for @user, url: @user.locale_path do |f|
    = f.label :email, 'Email:'
    = f.text_field :email, :class => 'full'
    = f.label :password, 'Password:'
    = f.password_field :password, :class => 'full'
    = f.label :password_confirmation, 'Password confirmation:'
    = f.password_field :password_confirmation, :class => 'full'
    = f.submit 'Sign Up', :class => "btn"
