= "\r\n"
= "\r\n"
/'date:
/= @submit.created_at
/= "\r\n"

- @submit.form.fields.each do |field|
  = field.name
  ':
  - a = @submit.answers.where(field_id: field.id).first
  - if a
    = a.value
  - else
    '-
  = "\r\n"
  = "\r\n"

/= "\r\n"
/|View all -
/= form_submits_url(@locale, @submit.form)
/= "\r\n"
/= "\r\n"
/'Best regards,
/= "\r\n"
/'SimplePage.biz
