.carousel.slide#carousel
  ol.carousel-indicators
    li data-target="#carousel" data-slide-to="0" class="active"
    li data-target="#carousel" data-slide-to="1"
    li data-target="#carousel" data-slide-to="2"
    li data-target="#carousel" data-slide-to="3"
  .carousel-inner
    .item.active
      img src="/img/html.jpg" alt=""
      .carousel-caption
        h4
          ' Full code access
        p
          ' You can edit, delete or add any code what are you want.


    .item
      img src="/img/templates.jpg" alt=""
      .carousel-caption
        h4
          ' Template includes
        p
          ' You can choose the templates and layouts for you pages


    .item
      img src="/img/domain.jpg" alt=""
      .carousel-caption
        h4
          ' Your own domains
        p
          ' It is simple to use your own 2-level domains

    .item
      img src="/img/result.jpg" alt=""
      .carousel-caption
        h4
          ' Good results
        p
          ' Get the rapid results

  a class="left carousel-control" href="#carousel" data-slide="prev"
    ' &lsaquo;
  a class="right carousel-control" href="#carousel" data-slide="next"
    ' &rsaquo;
