.dashboard
  ul.nav.nav-list.text-right
    li.nav-header
      = t('nav.my_sites')
    - sites = current_user.sites.active.order("modified_at DESC").limit(3)
    - sites.each do |s|
      li
        = link_to s.full_name, site_pages_path(@locale, s)

    - if sites.length == 0
      = link_to t('site.create_new'), new_site_path(@locale)
    - else
      li
        small
          = link_to t('site.all'), sites_path(@locale)
    li.nav-header
        = t('nav.my_forms')

    - forms = current_user.forms.limit(3)
    - forms.each do |form|
      li
        = link_to form.name, form_path(@locale, form)

    - if forms.length == 0
      li
        = link_to t('form.create_new'), new_form_path(@locale)
    - else
      li
        small
          = link_to t('form.all'), forms_path(@locale)
