.login-block
  ul.nav.nav-tabs#login
    li class="#{'active' unless flash[:user_creation_action]}"
      a href="#login_form"
        = t('nav.login')
    li class="#{'active' if flash[:user_creation_action]}"
      a href="#signup_form"
        = t('nav.sign_up')
    li.hide
      a href="#reset_form"
        = t('nav.reset_password')

  .tab-content
    #login_form.tab-pane class="#{'active' unless flash[:user_creation_action]}"
      = render '/sessions/form'
    #signup_form.tab-pane class="#{'active' if flash[:user_creation_action]}"
      - @user = User.new unless @user
      = render '/users/form'
    #reset_form.tab-pane
      = render '/resets/form'