- if @stats
  .stats
    h2.pull-right Stats
    .clearfix
    div
      = t('stats.sites')
      = stats @stats[:sites]
    div
      = t('stats.pages')
      = stats @stats[:pages]
    div
      = t('stats.forms')
      = stats @stats[:forms]
    div
      = t('stats.javascripts')
      = stats @stats[:js]
    div
      = t('stats.stylesheets')
      = stats @stats[:css]
    div
      = t('stats.images')
      = stats @stats[:images]
    div
      = t('stats.templates')
      = stats @stats[:templates]
    div
      = t('stats.layouts')
      = stats @stats[:layouts]
