<script src='https://www.google.com/recaptcha/api.js'></script>

.row
  .span8
    h1 Contact us
    p
      |Feel free to send us a <a href="mailto:support@simplepage.biz">letter</a>
    p
      |or fill the form:
    hr
    <form action='http://simplepage.biz/submit/26c047be-1490-404a-85fe-fc44a840c52e' accept-charset='UTF-8' method='post'>
    <label for='simpleform_1'>email:</label>
    <input type='text' id='simpleform_1' name='email' value=''/>
    <label for='simpleform_2'>name:</label>
    <input type='text' id='simpleform_2' name='name' value=''/>
    <label for='simpleform_3'>message:</label>
    <textarea name='message' id='simpleform_3' rows='5' columns='30'></textarea>
    <div class="g-recaptcha" data-sitekey="6LdoMB0UAAAAADQ0DnR3S8Fi1tcfsGY5Qb-SarAt"></div>
    <br/>
    <p><input type='submit' value='Submit' class='btn'/></p>
    </form>
