h1 Help

h2 Directives

h3 include
p It will include content of template
pre
  |[% include 'template_name' %]
p
  strong
    |Example
p Page: /
pre
  |[% include 'header' %]
  br
  |... page content ...
  br
  |[% include 'footer' %]
p Template: header
pre
  = '<html>'
  br
  = '<head><title>Title</title></head>'
  br
  = '<body>'
p Template: footer
pre
  = '</body>'
  br
  = '</html>'
p Result:
pre
  = '<html>'
  br
  = '<head><title>Title</title></head>'
  br
  = '<body>'
  br
  |... page content ...
  br
  = '</body>'
  br
  = '</html>'

h3 variable
p Variables subtitutions
pre
  |[% $variable='value' %]
  br
  |[% $variable %]
p
  strong
    |Example
p Page: /
pre
  |[% $title = 'Home Page' %]
  br
  |[% include 'header' %]
  br
  |... page content ...
  br
  |[% include 'footer' %]
p Template: header
pre
  = '<html>'
  br
  = '<head><title>[% $title %]</title></head>'
  br
  = '<body>'
p Template: footer
pre
  = '</body>'
  br
  = '</html>'
p Result:
pre
  = '<html>'
  br
  = '<head><title>Home Page</title></head>'
  br
  = '<body>'
  br
  |... page content ...
  br
  = '</body>'
  br
  = '</html>'
h3 layout, yield
p Layout using. We can set layout for page using 'layout' directive.
p Page content will insert into 'yield' place.
pre
  |[% layout 'layout_name' %]
  br
  |[% yield %]
p
  strong
    |Example
p Page: /
pre
  |[% $title = 'Home Page' %]
  br
  |[% layout 'first' %]
  br
  |... page content ...

p Layout: first
pre
  |[% include 'header' %]
  br
  |[% yield %]
  br
  |[% include 'footer' %]

p Template: header
pre
  = '<html>'
  br
  = '<head><title>[% $title %]</title></head>'
  br
  = '<body>'
p Template: footer
pre
  = '</body>'
  br
  = '</html>'
p Result:
pre
  = '<html>'
  br
  = '<head><title>Home Page</title></head>'
  br
  = '<body>'
  br
  |... page content ...
  br
  = '</body>'
  br
  = '</html>'

h3 image
p You can use image's name in code for get it's url.
pre
 |[% image:image_name %]
p
  strong
    |Example
p You uploaded an image 'company-logo.png' and set the image name to 'logo'.
p You can use the next code for insert image tag:
pre
  = '<img src="[% image:logo %]" alt="Logo"/>'

h3 file
p You can use file's name in code for get it's url.
pre
 |[% file:file_name %]
p
  strong
    |Example
p You uploaded a file 'offer.pdf'.
p You can use the next code for insert link to the document:
pre
  = '<a href="[% file:offer.pdf %]">View Offer</a>'

h2 Tricks
h3 404 error pages (not found)
p Create page with name 404 and this page will be render when no page found.
