.row
  .span8
    = render '/home/carousel'
  .span4
    - unless current_user
      = render :partial => '/home/login', :locals => {:flash => flash}
    - else
      = render '/home/dashboard'

.row
  .span8
    = render '/news/promo'
  .span4
    = render '/reviews/last'
    = render '/themes/active'
    = render '/home/stats'
    = render '/home/live'
