<h1>Rules</h1>

<p>Not allowed:</p>
<ul>
  <li>Adult content</li>
  <li>Spam</li>
  <li>Auto/Follow/Followers/Subscribe Services</li>
  <li>Click Jacking</li>
  <li>Auto redirect to external domains</li>
</ul>
