- if @news && @news.count > 0
  .news-promo
    h2 = t('news.title')
    - @news.each do |n|
      .news
        h3.pull-left = n.name
        .pull-right
          = n.created_at.strftime("%Y-%m-%d %H:%M")
        .clearfix
        div
          = raw n.preview
        p
          = link_to t('more'), news_path(@locale, n)
