- if @javascripts.length > 0
  table.table.table-striped
    - @javascripts.each do |javascript|
      tr
        td = link_to "#{@site.full_name}/#{javascript.name}.js", edit_site_javascript_path(@locale, @site.id, javascript.id)

        td
          .text-right
            = link_to javascript.full_url, class: 'pad', data: { toggle: 'tooltip' }, title: t('live'), rel: 'tooltip' do
              i.icon-globe
            = link_to site_javascript_path(@locale, @site, javascript), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_javascript_path(@locale, @site.id, javascript)

= link_to t('javascript.new'), new_site_javascript_path(@locale, @site.id), class: 'btn btn-primary'
