= breadcrumb @breadcrumb

table.table
  tr
    - @fields.each do |field|
      th
        = field.name
    th
  - @submits.each do |s|
    tr
      - @fields.each do |field|
        td
          - if a = s.answers.where(field_id: field.id).first
            = a.value
          - else
              '
      td
        = destroy_link_to form_submit_path(@locale, @form, s)
