h4
  'Forgot password
= form_tag resets_path(@locale), :method => :post do
  p
    = label_tag :email, "Email:"
    = text_field_tag :email, nil, :class => 'full'
    = submit_tag "Reset my password", :class => 'btn'
