= form_for @user, :url => reset_path(@locale, @user), :html => {:method => :put} do |f|
  |Email:
  = @user.email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = hidden_field_tag :token, @token
  .actions
    = f.submit "Update password"
