= simple_form_for [@site, @page], url: @page.locale_path, html: { id: 'code_form' } do |f|
  - if @page.system
    = f.input :name, disabled: true
  - else
    = f.input :name

  = f.label :content
  .code
    = f.text_area :content, id: 'code_content'

  .text-right
    = link_to t('more'), '#', id: 'more'
  .more.hide
    = f.input :sitemap
    = f.input :kind, collection: Page::KIND, include_blank: false
  br
  p= f.submit t('save'), class: 'btn'
