table.table.table-striped
  - @pages.each do |pa|
    - page = pa
    tr
      td
        - if page.system
          = link_to "#{@site.full_name}", edit_site_page_path(@locale, @site, page), data: { toggle: 'tooltip' }, title: "<img src='#{@site.full_url}#{page.screenshot_url}'/>", rel: 'tooltip'
        - else
          = link_to "#{@site.full_name}#{page.full_name}", edit_site_page_path(@locale, @site, page), data: { toggle: 'tooltip' }, title: "<img src='#{@site.full_url}#{page.screenshot_url}'/>", rel: 'tooltip'

      td

      td
        .text-right
          = link_to page.full_url, class: 'pad', data: { toggle: 'tooltip' }, title: t('live'), rel: 'tooltip' do
            i.icon-globe
          = link_to site_page_path(@locale, @site, page), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
          - if page.system
            = link_to "#", class: 'pad', data: { toggle: 'tooltip' }, title: t('page.cant_destroy_system'), rel: 'tooltip' do
              i.icon-remove.icon-white
          - else
            = destroy_link_to site_page_path(@locale, @site, page)

= link_to t('page.new'), new_site_page_path(@locale, @site), class: 'btn btn-primary'
