= breadcrumb @breadcrumb, true

h2.pull-left
  = @site.full_name
  - if @page.system && @page.name == '/'
    |/
  - else
    |/
    = @page.short_public_name

h2.pull-right= link_to t('destroy'), site_page_path(@locale, @site, @page), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } unless @page.system
.clearfix
== render 'form'
