.tree
  - if @file
    span.path
      = t('document.path')
      = link_to ' ~ ', site_files_path(@locale, @site)
      |/
      - file_tree(@file).each do |f|
        = link_to f.name, site_file_path(@locale, @site, f)
        |/
    hr

.files-nav
  .pull-left
    i.icon-plus
    |&nbsp;
    a#add-file href='#' data={toggle: 'modal',  target: '.add-file' }
      = t('document.upload_files')
  .pull-right
    i.icon-plus
    |&nbsp;
    a#add-folder href='#' data={toggle: 'modal',  target: '.add-folder' }
      = t('document.add_folder')
  .clearfix

- if @files.length > 0
  table.table.table-striped
    - @files.each do |file|
      tr
        td
          - if file.folder
            = link_to site_file_path(@locale, @site.id, file.id) do
              i.icon-folder-open
              |&nbsp;
              = file.name
          - else
            = link_to edit_site_file_path(@locale, @site.id, file.id) do
              = file.name
        td
          .text-right
            - if file.attachment?
              = link_to file.full_url, class: 'pad', data: {toggle: 'tooltip'}, title: t('live'), rel: 'tooltip' do
                i.icon-globe
            - else
              = link_to "#", class: 'pad', data: {toggle: 'tooltip'}, title: t('no_file'), rel: 'tooltip' do
                i.icon-globe.icon-white
            = link_to site_file_path(@locale, @site, file), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_file_path(@locale, @site.id, file)

= render 'files/modal_add_folder'
= render 'files/modal_add_file'
