.add-file.modal
  .modal-header
    button type="button" class="close" data={ dismiss: 'modal'} aria={hidden: "true"}
      |×
    h3 =t('document.upload_file_title')
  = simple_form_for @site, url: site_path(@locale, @site), multipart: true, html: { id: 'upload_files', class: 'slim' }  do |f|
    .modal-body
      - if @file
        = f.hidden_field :parent_id, value: @file.id
      = f.input :files, as: :file, label: false, input_html: { multiple: true }
    .modal-footer
      .pull-left
        = f.submit t('add_new_files'), class: 'btn btn-primary'
      .pull-right
        = link_to t('cancel'), '#', id: 'close-add-file', class: 'btn space', data: {dismiss: 'modal' }, 'aria-hidden' => 'true'
