= breadcrumb @breadcrumb, true
/
  p
    'Name:
    = @file.name
  p
    'URL:
    = @file.full_url
  p
    'Created:
    = @file.created_at
  p
    'Last updated:
    = @file.updated_at

= render '/sites/tab'
