= simple_form_for @form, url: @form.locale_path, html: { id: 'form_data_form' } do |f|
  .field
    = f.input :name
    = f.input :notify_subject
    = f.input :redirect

  .actions
    - if @form.id
      = f.submit t('save'), class: 'btn'
    - else
      = f.submit t('create'), class: 'btn'
