= breadcrumb @breadcrumb

h2 My forms
- if @forms.length > 0
  table.table.table-striped
    tr
      th
        = t('form.name')
      th
        = t('form.submits')
      th
        '
    - @forms.each do |form|
      tr
        td
          = link_to form.name, form_path(@locale, form)
        td
          = link_to form.submits.length, form_submits_path(@locale, form)
        td
          .text-right
            = destroy_link_to form_path(@locale, form)
- else
  p
    = t('form.empty')
= link_to t('form.new'), new_form_path(@locale), class: 'btn btn-primary'
