= breadcrumb @breadcrumb

h2= @form.name
p =link_to t('edit'), edit_form_path(@locale, @form)
ul.nav.nav-tabs#structure
    li.active
      a href="#fields"
        = t('form.fields')
    li
      a href="#html"
        = t('form.html')
    li
      a href="#form"
        = t('form.form')

.tab-content
  .tab-pane.active#fields
    = simple_form_for [@form, Field.new], url: form_fields_path(@locale, @form) do |f|
      table.table

        - @form.fields.each do |field|
          tr
            td
              = field.name
            td
              = field.kind
            td
              = destroy_link_to form_field_path(@locale, @form, field)
        tr
          td
            = f.input :name, label: false
          td
            = f.input :kind, include_blank: false, label: false
          td
            = f.submit t('form.add_new_field'), class: 'btn'

  .tab-pane#html
    - html = "<form action='http://simplepage.biz/submit/#{@form.uuid}' accept-charset='UTF-8' method='post'>"
    - @form.fields.each do |field|
      p
        - html += "<label for='simpleform_#{field.id}'>#{field.name}:</label>"
      - if field.text?
        - html += "<input type='text' id='simpleform_#{field.id}' name='#{field.name}' value=''/>"
      - elsif field.select?
        - html += "<select name='#{field.name}' id='simpleform_#{field.id}'>"
        - html += "<option value='value 1'>Title for value 1</option>"
        - html += "<option value='value 2'>Title for value 2</option>"
        - html += "<option value='value 3'>Title for value 3</option>"
        - html += "</select>"
      - elsif field.textarea?
        - html += "<textarea name='#{field.name}' id='simpleform_#{field.id}' rows='5' columns='30'>"
        - html += "</textarea>"
      - else
        - html += "<input type='text' id='simpleform_#{field.id}' name='#{field.name}' value=''/>"
    - html += "<p><input type='submit' value='"+t('submit')+"'/></p>"
    - html += "</form>"
    = html

  .tab-pane#form
    == html
