/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require jquery.fileupload-ui
 *= require cobalt
 *= require sites
 *= require files
 *= require sticky_footer
 *= require xq-light
 */

.code {
  border: 1px solid #CCC;
}

#code_form .string {
  width: 85%;
}
#code_form .string input {
  width: 50%;
}
.navbar-inner.custom {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #eee;
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.navbar a.brand {
  font-size: 25px;
  color: #333;
}
.tab-content #login_form input.full, .tab-content #signup_form input.full, .tab-content #reset_form input.full {
  width: 90%;
}
.tab-content #login_form input#remember_me {
  float: left;
  margin-right: 0.5em;
}
.news {
  border-top: 1px solid #eee;
}
.caption {
  background: rgba(0,0,0,0.75);
  color: #FFF;
}
.review img {
  border-radius: 50%;
  float: left;
  margin: 0 5px 0 0;
}
.review {
  border-top: 1px solid #eee;
  padding: 10px 5px 10px 0;
}
#carousel {
  height: 320px;
}
.error {
  color: #C00;
  padding: 0 0 0 1em;
}
.pad {
  margin: 0 5px;
}
.CodeMirror-fullscreen {
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        z-index: 9999;
        //background: #FFF;
      }
.dashboard {
  height: 320px;
  overflow: auto;
}
.breadcrumb {
  padding: 0 15px;
  background: none;
  border-left: 10px solid #ccc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 85%;
}

.breadcrumb.pull-right {
  padding: 0;
  border: 0;
}

.themes img {
  margin-bottom: 5px;
}

#footer span.item {
  padding: 0 0.5em;
}
