// Place all the styles related to the Files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-folder, .add-template-folder, .add-file {
  display: none;
}

.files-nav {
  margin-bottom: 1em;
}

.slim {
  margin: 0;
  padding: 0;
}
.tree {
  /*margin-bottom: 0.5em;*/
}
span.path {
  /*border-bottom: 1px dashed #777;*/
}
