.tab-content #site_settings_form {
  input#site_compress, input#site_public {
    float: left;
    margin-right: 0.5em;
  }
}
.tab-content #site_forms_form {
  .checkbox {
    clear: both;
    display: block;
    padding-left: 0;
    input {
      float: left;
      margin-right:0.5em;
      margin-left: 0;

    }
    label {
      float: left;
    }
  }
}
