body.theme_preview {
  background: #006788;
}
.preview {
  height: 50px;
  color: white;
  border-bottom:1px solid white;
  .left, .right {
    padding: 5px 10px 0 10px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
.postview {
  /*border-top: 1px solid white;*/
  color: white;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  p {
    font: Sans;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}
