h1 Reviews

- @reviews.each do |r|
  .review
    = image_tag(r.photo.url)

    = simple_format r.content
    .pull-right
      - if r.url
        = link_to r.name, r.url
      - else
        = r.name
    .clearfix
= paginate @reviews
