= simple_form_for @site, url: @site.locale_path, html: {id: 'site_domain_form'} do |f|
  small
    'DNS:
    table.table
      tr
        th
          'Domain Name
        th
          'Type
        th
          'Value
      tr
        td
          'your-domain.tld
        td
          'CNAME
        td
          = @site.name + '.' + @site.domain.name
          '.
  //= f.simple_fields_for :more do |m|
  //  = m.input :domain, as: :string, :label => 'Domain'
  = f.input :own_domain
  = f.submit 'Save', :class => 'btn'

