= simple_form_for @site, url: @site.locale_path, html: {id: 'site_data_form'} do |f|
  .field
    - if @site.id
      = f.input :name, disabled: true
    - else
      = f.input :name
    - if @site.id
      = f.association :domain, disabled: true
    - else
      = f.association :domain
    = f.input :theme_id, as: :hidden
  .actions
    - if @site.id
      = f.submit 'OK', class: 'btn'
    - else
      = f.submit 'Save', class: 'btn'
