= simple_form_for @site, url: @site.locale_path, html: { id: 'site_forms_form' } do |f|
  .clearfix
  = f.association :forms, as: :check_boxes, collection: current_user.forms, label: 'Form linking'
  .clearfix
  = f.submit t('save'), class: 'btn'
