= simple_form_for @site, url: @site.locale_path, html: { id: 'site_settings_form' } do |f|
  - if @site.favicon?
    = link_to @site.full_url do
      = image_tag "#{@site.full_url}/favicon.ico"
  = f.input :favicon
  = f.input :public
  = f.input :compress, label: 'Compress result code'

  = f.submit t('save'), class: 'btn'
