h2=@site.full_name

ul.nav.nav-tabs#structure
    li class="#{'active' if params[:controller] == 'sites' || params[:controller] == 'pages'}"
      a href="#pages"
        = t('site.nav.pages')
    li class="#{'active' if params[:controller] == 'stylesheets'}"
      a href="#stylesheets"
        = t('site.nav.stylesheets')
    li class="#{'active' if params[:controller] == 'javascripts'}"
      a href="#javascripts"
        = t('site.nav.javascripts')
    li class="#{'active' if params[:controller] == 'templates'}"
      a href="#templates"
        = t('site.nav.templates')
    li class="#{'active' if params[:controller] == 'layouts'}"
      a href="#layouts"
        = t('site.nav.layouts')
    li class="#{'active' if params[:controller] == 'images'}"
      a href="#images"
        = t('site.nav.images')
    li class="#{'active' if params[:controller] == 'files'}"
      a href="#files"
        = t('site.nav.files')

.tab-content
  #pages class="tab-pane #{'active' if params[:controller] == 'sites' || params[:controller] == 'pages'}"
    = render '/pages/list'
  #stylesheets class="tab-pane #{'active' if params[:controller] == 'stylesheets'}"
    = render '/stylesheets/list'
  #javascripts class="tab-pane #{'active' if params[:controller] == 'javascripts'}"
    = render '/javascripts/list'
  #templates class="tab-pane #{'active' if params[:controller] == 'templates'}"
    = render '/templates/list'
  #layouts class="tab-pane #{'active' if params[:controller] == 'layouts'}"
    = render '/layouts/list'
  #images class="tab-pane #{'active' if params[:controller] == 'images'}"
    = render '/images/list'
  #files class="tab-pane #{'active' if params[:controller] == 'files'}"
    = render '/files/list'
