= breadcrumb @breadcrumb

h2 = @site.full_name

ul.nav.nav-tabs#site
    li class="#{'active' unless params[:domain_action]}"
      a href="#info"
        = t('site.info')
    li class="#{'active' if params[:domain_action]}"
      a href="#domain"
        = t('site.domain')
    li
      a href="#settings"
        = t('site.settings')
    li
      a href="#forms"
        = t('site.forms')
    li
      a href="#site_destroy"
        = t('destroy')

.tab-content
  #info.tab-pane class="#{'active' unless params[:domain_action]}"
    == render 'form'
  #domain.tab-pane class="#{'active' if params[:domain_action]}"
    == render 'domain'
  #settings.tab-pane
    == render 'settings'
  #forms.tab-pane
    == render 'forms'
  #site_destroy.tab-pane
    p
      'You can destroy this site at any moment.
    p
      'We will destroy all entities linked with site (html pages, javascript and stylesheet files, templates and layouts, and images too).
    p= link_to t('destroy'), site_path(@locale, @site), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger pad'
