= breadcrumb @breadcrumb

h2 My sites
- if @sites.length > 0
  table.table.table-striped
    - @sites.each do |site|
      tr
        td
          = link_to site.full_name, site_pages_path(@locale, site)
        td
          .text-right
            = link_to "http://#{site.full_name}", class: 'pad', data: { toggle: 'tooltip' }, title: t('live'), rel: 'tooltip' do
              i.icon-globe

            = link_to site_path(@locale, site), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks


            = link_to edit_site_path(@locale, site), class: 'pad', data: { toggle: 'tooltip' }, title: t('settings'), rel: 'tooltip' do
              i.icon-asterisk
- else
  p
    = t('site.empty')
= link_to t('site.new'), new_site_path(@locale), class: 'btn btn-primary'
