- if @site.active
  = breadcrumb @breadcrumb

  h2= link_to @site.full_name, site_pages_path(@locale, @site)

  table.table
    tr
      th
        = t('site.nav.pages')
      th
        = t('site.nav.stylesheets')
      th
        = t('site.nav.javascripts')
      th
        = t('site.nav.templates')
      th
        = t('site.nav.layouts')
      th
        = t('site.nav.images')
    tr
      td
        = link_to @pages.count, site_pages_path(@locale, @site)
      td
        = link_to @stylesheets.count, site_stylesheets_path(@locale, @site)
      td
        = link_to @javascripts.count, site_javascripts_path(@locale, @site)
      td
        = link_to @templates.count, site_templates_path(@locale, @site)
      td
        = link_to @layouts.count, site_layouts_path(@locale, @site)
      td
        = link_to @images.count, site_images_path(@locale, @site)
- else
  /h3 Wait a little, please.
  .text-center
    h3 Copy in progress

    = image_tag '/img/loader.gif'
    br
    br
    p Wait a little, please

  javascript:
    checker("#{@site.id}")
