- if @images.length > 0
  table.table.table-striped
    - @images.each do |image|
      tr
        td
          = link_to edit_site_image_path(@locale, @site.id, image.id) do
            - if image.photo?
              = image_tag "#{@site.full_url}#{image.photo_url(:mini)}", title: image.name
            - else
              = t('image.no_image')
        td
          = image.name
        td
          .text-right
            - if image.photo?
              = link_to "#{@site.full_url}#{image.photo_url}", class: 'pad', data: { toggle: 'tooltip' }, title: t('live'), rel: 'tooltip' do
                i.icon-globe
            - else
              = link_to "#", class: 'pad', data: { toggle: 'tooltip' }, title: t('image.no_image'), rel: 'tooltip' do
                i.icon-globe.icon-white
            = link_to site_image_path(@locale, @site, image), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_image_path(@locale, @site.id, image)

= simple_form_for @site, url: site_path(@locale, @site), multipart: true, html: { id: 'upload_files' }  do |f|
  = f.input :photos, as: :file, label: false, input_html: { multiple: true }
  = f.submit t('add_new_images'), class: 'btn btn-primary'
