= breadcrumb @breadcrumb, true

p
  = @image.created_at
p
  - unless @image.photo.blank?
    = image_tag "#{@site.full_url}#{@image.photo_url(:thumb)}", title: @image.name

  - else
    = t('image.no_image')
