- if flash[:notice]
  .row
    .span12
      .alert.alert-success.fade.in
        a class="close" data-dismiss="alert" href="#"
          ' ×
        = flash[:notice]

- if flash[:alert]
  .row
    .span12
      .alert.alert-error.fade.in
        a class="close" data-dismiss="alert" href="#"
          ' ×
        = flash[:alert]