.container
  #footer
    p
      span.item
        ' &copy; 2013,
        = link_to 'SimplePage', root_url(@locale)
        = t('footer_desc')
      '|
      span.item
        = link_to 'Rules', rules_path(@locale)
      '|
      span.item
        = link_to t('help'), help_path(@locale)
      /
        '|
        span.item
          = link_to 'GitHub', 'https://github.com/vickodin/simplepage'
      '|
      span.item
        = link_to t('contacts'), contact_us_path(@locale)
