p
  = t('layout.using')

= simple_form_for [@site, @layout], url: @layout.locale_path, html: {id: 'code_form'} do |f|
  .field
    = f.input :name
    = f.label :content

    .code
      = f.text_area :content, id: "code_content"
  = f.submit t('save'), class: 'btn'
