title = t('title')
meta name="viewport" content="width=device-width, initial-scale=1.0"
= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/2.3.0/spacelab/bootstrap.min.css"
= stylesheet_link_tag "//cdn.jsdelivr.net/codemirror/3.1/codemirror.css"
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "//cdn.jsdelivr.net/codemirror/3.1/codemirror.js"
= javascript_include_tag "application"
= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"
= csrf_meta_tags
