- if @layouts.length > 0
  table.table.table-striped
    - @layouts.each do |layout|
      tr
        td = link_to layout.name, edit_site_layout_path(@locale, @site.id, layout.id)
        td
          .text-right
            = link_to site_layout_path(@locale, @site, layout), class: 'pad', data: { toggle: 'tooltip' }, title: t('overview'), rel: 'tooltip' do
              i.icon-tasks
            = destroy_link_to site_layout_path(@locale, @site.id, layout)

= link_to t('layout.new'), new_site_layout_path(@locale, @site.id), class: 'btn btn-primary'
