.navbar
  .navbar-inner.custom
    a.brand href="/"
      'SimplePage.biz

    - if current_user
      ul.nav.pull-right
        li.dropdown
          a href="#" class="dropdown-toggle" data-toggle="dropdown"
            = t('nav.my_account')
            b.caret
          ul.dropdown-menu
            li
              = link_to t('nav.my_sites'), sites_path(@locale)
            li
              = link_to t('nav.my_forms'), forms_path(@locale)
            li
              = link_to t('nav.logout'), logout_path(@locale), :method => :post
