doctype html
html
  head
    = render '/layouts/head'
  body
    #wrap
      .container
        = render '/layouts/navbar'
        = render :partial => '/layouts/flash', :locals => {:flash => flash}
        = yield
        = render '/layouts/analytics'
      #push
    = render "/layouts/footer"
