doctype html
html
  head
    title
      = @theme.name
      |&nbsp;| Theme Preview | SimplePage.biz
    = stylesheet_link_tag "theme"
  body.theme_preview style="margin:0px;padding:0px;overflow:hidden; height: 100%;"
    = yield
